/* BUTTONS STYLE in class formed*/
%o-btn {
  display: block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-family: $f-1;
  text-align: center;
  outline: none;
  border: none;
  background: none;
  padding: 10px 20px;
}

.o-button {
  @extend %o-btn;
  color: #fff;
  font-weight: 600;
  padding: 10px 5px;
  border: 1px solid #fff;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}
