%h1 {
  position: relative;
  @include d-b();
  font-family: $f-1;
  color: $c-1;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  @include d-b();
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h5 {
  @include d-b();
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}
