%input {
  @include d-b();
  color: $c-1;
  font-family: $f-1;
  font-size: 16px;
  height: 55px;
  background-color: $c-input-bg;
  border: none;
  padding: 5px 10px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
.o-input {
  position: relative;
  @include d-b();
  border: 1px solid $c-input-border;
  input {
    @extend %input;
  }
  input:focus ~ .o-input__label--float,
  input:not(:focus):valid ~ .o-input__label--float {
    color: #000000;
    top: 5px;
    left: 12px;
    transform: none;
    font-size: 10px;
    opacity: 1;
  }
  .o-input__label--float {
    font-size: 16px;
    line-height: 16px;
    color: #868686;
    position: absolute;
    pointer-events: none;
    left: 10px;
    @include al-y();
    transition: 0.2s ease all;
  }
}
.o-input__wrap {
  @include d-b();
  margin-bottom: 15px;
}

$input-check-size-1: 20px;
.o-input__check {
  @include d-b();
  position: relative;
  padding: 5px 5px 5px 30px;
  label {
    @include d-b();
    font-family: $f-1;
    font-size: 16px;
    color: $c-input;
  }
  input,
  .o-input__indicator {
    display: block;
    height: $input-check-size-1;
    width: $input-check-size-1;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    left: 0;
  }
  .o-input__indicator {
    z-index: 0;
    // @include bg-before-xy("i-check.svg", 14px);
    position: absolute;
    border: 2px solid $c-input-border;
    &:before {
      content: none;
    }
  }
  input {
    z-index: 1;
    opacity: 0;
    &:checked ~ .o-input__indicator {
      &:before {
        content: "";
      }
    }
  }
}

$input-radio-size-1: 20px;
.o-input__radio {
  @include d-b();
  position: relative;
  padding: 5px 5px 5px 30px;
  label {
    @include d-b();
    font-family: $f-1;
    font-size: 16px;
    color: $c-input;
  }
  input,
  .o-input__indicator {
    display: block;
    height: $input-radio-size-1;
    width: $input-radio-size-1;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    left: 0;
  }
  .o-input__indicator {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    border: 2px solid $c-input-border;
    &:before {
      content: none;
      @include al-xy();
      width: 10px;
      height: 10px;
      background-color: $c-input-indicator;
      border-radius: 100%;
    }
  }
  input {
    z-index: 1;
    opacity: 0;
    &:checked ~ .o-input__indicator {
      &:before {
        content: "";
      }
    }
  }
}

/*antd override input disabled*/
.ant-input[disabled] {
  color: rgba(0, 0, 0, 1);
}
.ant-input-number-disabled {
  color: rgba(0, 0, 0, 1);
}
