%select {
  @include d-b();
  color: $c-input;
  font-family: $f-1;
  font-size: 16px;
  height: 40px;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
.o-select {
  @include d-b();
  height: 52px;
  border: 1px solid $c-input-border;
  padding: 5px 30px 5px 5px;
  // @include bg-before-y('i-arrow__down.svg',15px);
  &:before {
    right: 10px;
  }
  select {
    border: none;
    /*hide default style icon*/
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }
}
.o-select__wrap {
  @include d-b();
}

/*antd override select disabled*/
.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  color: rgba(0, 0, 0, 1);
}
