%textarea {
  @include d-b();
  font-size: 16px;
  font-family: $f-1;
  padding: 10px;
  color: $c-input;
  resize: none;
  background-color: #fff;
  height: 200px;
  &:hover {
    cursor: pointer;
  }
}

.o-textarea {
  @include d-b();
  border: 1px solid $c-input-border;
  textarea {
    border: none;
  }
}

.o-textarea__wrap {
  @include d-b();
  margin-bottom: 15px;
}
