$c-1: #001254;
$c-2: #1a9cf7;
$c-3: #eaecee;
$c-4: #b3b3b3;
$c-5: #0360b5;
$c-w: #ffffff;
$c-b: #000000;

$c-placeholder: gray;
$c-input-wrap: gray;
$c-input-bg: $c-w;
$c-input-border: gray;
$c-input-indicator: gray;
$c-input: gray;
