/*
 * FONT VARIABLES
 * variables for:
 * font family use
 * font weight
 *
*/
// @import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Nunito+Sans:400,600,700&display=swap");

@font-face {
  font-family: "interstateregular";
  src: url("../../font/interstate-regular-webfont.woff2") format("woff2"),
    url("../../font/interstate-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticaregular";
  src: url("../../font/helvetica-webfont.woff2") format("woff2"),
    url("../../font/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticalight";
  src: url("../../font/helvetica-light-webfont.woff2") format("woff2"),
    url("../../font/helvetica-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticabold";
  src: url("../../font/helvetica-bold-webfont.woff2") format("woff2"),
    url("../../font/helvetica-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$f-1: "interstateregular";
$f-2: "helveticaregular";
$f-3: "helveticalight";
$f-4: "helveticabold";
