.c-banner {
  @include d-b();
  height: 400px;
  background-color: $c-2;
  color: #fff;
  padding: 40px 20px;
  @include bp($s-d) {
    @include d-g();
    height: 500px;
    background-image: url("../../../image/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
  }
  .c-banner__heading {
    font-family: $f-2;
    @include bp($s-d) {
      font-size: 30px;
      font-weight: bold;
      line-height: 32px;
      margin: 0;
    }
  }
  p {
    font-family: $f-3;
    font-size: 17px;
    line-height: 23px;
    display: block;
    margin: 0;
    @include bp($s-d) {
      font-size: 20px;
    }
  }
  .c-banner__label {
    @include bp($s-d) {
      display: none;
    }
  }
}
.c-banner__wrap {
  @include d-b();
  margin-top: 60px;
  @include bp($s-d) {
    margin-top: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.c-banner__divider {
  @include d-b();
  height: 3px;
  border-bottom: 6px dotted #fff;
  max-width: 180px;
  margin: 15px 0;
  @include bp($s-d) {
    display: none;
  }
}
.c-banner__list {
  @include d-b();
  @include bp($s-d) {
    margin-top: 10px;
  }
}
