.c-event {
  @include d-b();
  background-color: #ebebeb;
}
.c-event__wrap {
  @include d-b();
  padding: 40px 20px 40px 20px;
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}
.c-event__info {
  @include d-b();
  margin-bottom: 20px;
  h4 {
    color: #001a7a;
    @include bp($s-d) {
      color: #000;
      font-weight: 500;
    }
    span {
      font-weight: bold;
      @include bp($s-d) {
        font-weight: 500;
      }
    }
  }
  h5 {
    color: #707070;
    @include bp($s-d) {
      color: #000;
    }
  }
}
.c-event__cards {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  @include bp($s-t) {
    @include d-g();
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    grid-gap: 20px;
    max-width: 100%;
  }
  .slick-slide {
    transform: scale(0.9);
    transition: transform 300ms ease;
    @include bp($s-t) {
      transform: none;
    }
  }
  .slick-current {
    transform: scale(1) !important;
    @include bp($s-t) {
      transform: none;
    }
  }
  .slick-list {
    overflow: visible;
    @include bp($s-t) {
      overflow: hidden;
    }
  }
  .slick-dots {
    bottom: -35px;
    li {
      width: auto;
      button {
        border: 1px solid #b7b7b7;
        border-radius: 100%;
        padding: 0;
        width: 12px;
        height: 12px;
        &:before {
          content: none;
          display: none;
        }
      }
    }
    .slick-active {
      button {
        background-color: #b7b7b7;
      }
    }
  }
}
.c-event__card {
  position: relative;
  @include d-b();
  color: #fff;
  background-color: transparent;
  padding: 20px 0;
}
.c-event__content {
  z-index: 4;
  position: relative;
  @include d-g();
  height: 250px;
  background-color: #001a7a;
  padding: 53px 20px 80px 20px;
  @include bp($s-d) {
    background-color: #1450d2;
  }
  &:before {
    position: absolute;
    bottom: -30px;
    left: 0;
    content: "";
    height: 30px;
    width: 15px;
    background-color: #001a7a;
    @include bp($s-d) {
      background-color: #1450d2;
    }
  }
  &:after {
    position: absolute;
    bottom: -30px;
    left: 15px;
    content: "";
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #001a7a;
    background-color: transparent;
    @include bp($s-d) {
      border-left: 30px solid #1450d2;
    }
  }
  p {
    font-size: 13px;
    line-height: 20px;
  }
  .o-button__wrap {
    position: absolute;
    bottom: 30px;
    left: 20px;
    @include d-b();
    max-width: 170px;
  }
}
.c-event__contentWrap {
  @include d-b();
}
.c-event__date {
  z-index: 6;
  @include d-g();
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: #fff;
  color: #008c82;
  width: 70px;
  height: 70px;
  @include bp($s-d) {
    background-color: #001254;
    color: #fff;
  }
  &:before {
    position: absolute;
    top: 0;
    left: -12px;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 12px solid #c2c2c2;
    @include bp($s-d) {
      border-right: 12px solid #3b4e96;
    }
  }
}
.c-event__month {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}
.c-event__day {
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.c-event__title {
  @include d-b();
  font-size: 20px;
  font-weight: bold;
}
.c-event__location {
  @include d-b();
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 10px 7px 50px;
  text-align: right;
  @include bp($s-d) {
    color: #000;
  }
}
.c-event__logo {
  @include d-g();
  grid-template-columns: auto;
  padding: 60px 20px 0px 20px;
  @include bp($s-d) {
    display: none;
  }
  img {
    width: auto;
    height: 40px;
  }
}
