.c-footer {
  @include d-b();
  background-color: #cccccc;
  @include bp($s-d) {
    background-color: #707070;
    padding: 20px;
  }
  @include bp(1300px) {
    padding: 20px 0;
  }
  .c-mobile__link {
    ul {
      li {
        color: #707070;
        background-color: #fff;
        font-weight: 600;
      }
    }
  }
  .c-mobile__title {
    border-bottom: 1px solid #999999;
  }
}
.c-footer__links {
  @include d-g();
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 0 20px;
}
.c-footer__link {
  @include d-b();
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: #707070;
}
.c-footer__mobile {
  @include d-b();
  padding-top: 20px;
  @include bp($s-d) {
    display: none;
  }
}
.c-footer__desktop {
  display: none;
  @include bp($s-d) {
    @include d-f();
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.c-footer__left {
  span {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
  }
}
.c-footer__right {
  span {
    font-size: 14px;
    color: #fff;
  }
}
.c-footer__icons {
  @include d-f();
  flex-wrap: wrap;
  span {
    margin: 0 10px 0 0;
  }
}
.c-footer__icon {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  margin-top: 5px;
  &:last-child {
    margin-right: 0;
  }
  img {
    height: 22px;
    width: auto;
  }
}
