.c-header {
  display: none;
  @include bp($s-d) {
    @include d-g();
    grid-template-columns: auto auto;
    align-items: end;
    grid-gap: 20px;
    background-color: #fff;
    border-bottom: 10px solid $c-1;
    padding: 15px 20px 5px 20px;
  }
}
.c-header__left {
  @include d-f();
  margin-bottom: -10px;
}
.c-header__logo {
  display: inline-block;
  width: auto;
  margin-right: 15px;
  background-color: #fff;
  padding: 0px 15px;
  img {
    height: 60px;
    width: auto;
  }
}
.c-header__logoLabel {
  display: inline-block;
  width: auto;
  border-right: 1px solid #cccccc;
  padding-right: 25px;
  img {
    height: 32px;
    width: auto;
  }
}
.c-header__right {
  display: inline-block;
  width: auto;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      padding: 5px 10px;
      font-size: 14px;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
