.c-insight {
  @include d-b();
  background-color: #001a7a;
  @include bp($s-d) {
    background-color: #ebebeb;
  }
}
.c-insight__wrap {
  @include d-b();
  padding: 40px 20px 70px 20px;
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
  @include bp($s-d) {
    padding: 40px 20px;
  }
}
.c-insight__cards {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  @include bp($s-t) {
    @include d-g();
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    grid-gap: 20px;
    max-width: 100%;
  }
  .slick-slide {
    transform: scale(0.9);
    transition: transform 300ms ease;
    @include bp($s-t) {
      transform: none;
    }
  }
  .slick-current {
    transform: scale(1) !important;
    @include bp($s-t) {
      transform: none;
    }
  }
  .slick-list {
    overflow: visible;
    @include bp($s-t) {
      overflow: hidden;
    }
  }
  .slick-dots {
    bottom: -35px;
    li {
      width: auto;
      button {
        border: 1px solid #b7b7b7;
        border-radius: 100%;
        padding: 0;
        width: 12px;
        height: 12px;
        &:before {
          content: none;
          display: none;
        }
      }
    }
    .slick-active {
      button {
        background-color: #b7b7b7;
      }
    }
  }
}
.c-insight__card {
  @include d-b();
  padding: 20px;
  background-color: #fff;
  border-bottom: 7px solid #1450d2;
  box-shadow: 1px 2px 5px 1px #888;
  height: 320px;
  @include bp($s-d) {
    height: 360px;
  }
  .c-insight__img {
    @include d-b();
    position: relative;
    &:before {
      z-index: 6;
      content: "";
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 50px solid #fff;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      @include bp($s-t) {
        border-bottom: 80px solid transparent;
        border-left: 80px solid #fff;
      }
    }
    &:after {
      z-index: 6;
      content: "";
      width: 0;
      height: 0;
      border-bottom: 0px solid transparent;
      border-top: 50px solid transparent;
      border-right: 50px solid #fff;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      right: 0;
      @include bp($s-t) {
        border-top: 80px solid transparent;
        border-right: 80px solid #fff;
      }
    }
    img {
      z-index: 5;
      position: relative;
      @include d-b();
    }
  }
}
.c-insight__card--2 {
  border-color: #01a49c;
  .c-insight__title {
    color: #01a49c;
  }
}
.c-insight__card--3 {
  border-color: #009bfa;
  .c-insight__title {
    color: #009bfa;
  }
}
.c-insight__title {
  @include d-b();
  font-size: 23px;
  font-weight: bold;
  color: #1450d2;
  margin-top: 10px;
}
.c-insight__info {
  @include d-b();
  margin-bottom: 20px;
  color: #fff;
  @include bp($s-d) {
    color: #000;
  }
}
