.c-motto {
  @include d-f();
  background-color: $c-1;
  height: 400px;
  padding: 20px;
  background-image: url("../../../image/bg-motto_mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  @include bp($s-t) {
    background-image: url("../../../image/bg-motto.png");
  }
  h2 {
    @include d-b();
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    display: inline-block;
    width: 100%;
    color: #fff;
    text-align: center;
  }
  .o-btn__wrap {
    @include d-f();
    margin-top: 40px;
    .o-button {
      max-width: 150px;
    }
  }
}
.c-motto__wrap {
  @include d-b();
  max-width: 1200px;
}
