.c-mobile {
  @include d-b();
  @include bp($s-d) {
    display: none;
  }
}
.c-mobile__header {
  z-index: 7;
  position: relative;
  @include d-f();
  background-color: $c-3;
  padding: 7px 20px;
}
.c-mobile__logo {
  img {
    height: 35px;
    width: auto;
  }
}
.c-mobile__menu {
  @include al-y();
  right: 20px;
  display: inline-block;
  width: 18px;
  height: 18px;
  &:hover {
    cursor: pointer;
  }
  img {
    display: block;
    width: 100%;
  }
}
.c-mobile__nav {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  @include d-b();
  height: 100vh;
  display: none;
}
.c-mobile__nav--active {
  display: block;
}
.c-mobile__mask {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: transparentize($color: #000000, $amount: 0.5);
}
.c-mobile__content {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  @include d-b();
  background-color: #fff;
}
.c-mobile__upper {
  position: relative;
  @include d-f();
  background-color: $c-3;
  padding: 7px 20px;
}
.c-mobile__logoActive {
  img {
    height: 35px;
    width: auto;
  }
}
.c-mobile__close {
  @include al-y();
  right: 20px;
  display: inline-block;
  width: 18px;
  height: 18px;
  &:hover {
    cursor: pointer;
  }
  img {
    display: block;
    width: 100%;
  }
}

.c-mobile__lower {
  @include d-b();
}

.c-mobile__link {
  @include d-b();
  padding: 7px 20px 40px 20px;
  ul {
    @include d-b();
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      width: 100%;
      list-style-type: none;
      background-color: $c-3;
      font-size: 16px;
      color: #707070;
      padding: 10px;
      text-align: center;
      margin-bottom: 8px;
      &:hover {
        cursor: pointer;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.c-mobile__title {
  @include d-b();
  font-size: 16px;
  color: #193989;
  text-align: center;
  padding: 7px 20px 7px 20px;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 8px;
}
