::-webkit-input-placeholder {
  /* Edge */
  // color: $c-placeholder;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  // color: $c-placeholder;
}
::placeholder {
  // color: $c-placeholder;
}
