@mixin al-center($width, $margin) {
	max-width: $width;
	margin:$margin auto;
}

@mixin al-xy() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin al-x() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin al-y() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}