@mixin bg-before($image, $size) {
  position: relative;
  &:before {
    content: "";
    width: $size;
    height: $size;
    position: absolute;
    background-image: url("../images/" + $image);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@mixin bg-before-xy($image, $size) {
  position: relative;
  &:before {
    content: "";
    width: $size;
    height: $size;
    position: absolute;
    background-image: url("../images/" + $image);
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@mixin bg-before-y($image, $size) {
  position: relative;
  &:before {
    content: "";
    width: $size;
    height: $size;
    position: absolute;
    background-image: url("../images/" + $image);
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
  }
}
@mixin bg-before-x($image, $size) {
  position: relative;
  &:before {
    content: "";
    width: $size;
    height: $size;
    position: absolute;
    background-image: url("../images/" + $image);
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin bg-after($image, $size) {
  position: relative;
  &:after {
    content: "";
    width: $size;
    height: $size;
    position: absolute;
    background-image: url("../images/" + $image);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@mixin bg-after-xy($image, $size) {
  position: relative;
  &:after {
    content: "";
    width: $size;
    height: $size;
    position: absolute;
    background-image: url("../images/" + $image);
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@mixin bg-after-y($image, $size) {
  position: relative;
  &:after {
    content: "";
    width: $size;
    height: $size;
    position: absolute;
    background-image: url("../images/" + $image);
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
  }
}
@mixin bg-after-x($image, $size) {
  position: relative;
  &:after {
    content: "";
    width: $size;
    height: $size;
    position: absolute;
    background-image: url("../images/" + $image);
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin bg-contain($image) {
  background-image: url("../images/" + $image);
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin bg-cover($image) {
  background-image: url("../images/" + $image);
  background-size: cover;
  background-repeat: no-repeat;
}
