@mixin btn-color($value) {
  background-color: $value;
  border-color: $value;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($color: $value, $amount: 10);
    border-color: lighten($color: $value, $amount: 10);
  }
}
