@mixin d-ib() {
  display: inline-block;
  width: 100%;
}

@mixin d-b() {
  display: block;
  width: 100%;
}

@mixin d-f() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@mixin d-g($min: null, $max: null, $gap: 0) {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-gap: $gap;
  @if $min != null and $max != null {
    grid-template-columns: repeat(auto-fit, minmax(#{$min}, #{$max}));
  } @else if $min == auto {
    grid-template-columns: auto;
  } @else if $min !=null {
    grid-template-columns: repeat(auto-fit, #{$min});
  } @else {
    grid-template-columns: 100%;
  }
}
