@mixin icon($image, $container-size, $icon-size: null, $bg: null) {
  display: inline-block;
  position: relative;
  width: $container-size;
  height: $container-size;
  background-color: transparent;
  @if $bg != null {
    background-color: $bg;
  }
  &:before {
    position: absolute;
    content: "";
    @if $icon-size != null {
      width: $icon-size;
      height: $icon-size;
    } @else {
      width: $container-size;
      height: $container-size;
    }
    @if $image != "" {
      background-image: url("../../image/#{$image}");
    }
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin icon-after($image, $container-size, $icon-size: null, $bg: null) {
  display: inline-block;
  position: relative;
  width: $container-size;
  height: $container-size;
  background-color: transparent;
  @if $bg != null {
    background-color: $bg;
  }
  &:after {
    position: absolute;
    content: "";
    @if $icon-size != null {
      width: $icon-size;
      height: $icon-size;
    } @else {
      width: $container-size;
      height: $container-size;
    }
    @if $image != "" {
      background-image: url("../../image/#{$image}");
    }
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin icon-side(
  $image,
  $width-size,
  $icon-size,
  $distance: null,
  $position: right
) {
  position: relative;
  display: inline-block;
  width: auto;
  @if $position == right {
    padding-right: $width-size;
    &:before {
      @if $distance != null {
        right: $distance;
      } @else {
        right: 0;
      }
    }
  } @else if $position == left {
    padding-left: $width-size;
    &:before {
      @if $distance != null {
        left: $distance;
      } @else {
        left: 0;
      }
    }
  }
  &:before {
    position: absolute;
    content: "";
    width: $icon-size;
    height: $icon-size;
    @if $image != "" {
      background-image: url("../../image/#{$image}");
    }
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin icon-img($image, $pseudo: before) {
  @if $pseudo == before {
    &:before {
      background-image: url("../../image/#{$image}");
    }
  } @else if $image == after {
    &:after {
      background-image: url("../../image/#{$image}");
    }
  }
}

@mixin icon-pos($position, $distance, $pseudo: before) {
  @if $pseudo == before {
    &:before {
      @if $position == r {
        left: initial;
        right: $distance;
      } @else if $position == l {
        right: initial;
        left: $distance;
      } @else if $position == t {
        bottom: initial;
        top: $distance;
      } @else if $position == b {
        top: initial;
        bottom: $distance;
      } @else {
        @error " Position must be r='right' l='left' t='top' b='bottom' ";
      }
    }
  } @else if $pseudo == after {
    &:after {
      @if $position == r {
        left: initial;
        right: $distance;
      } @else if $position == l {
        right: initial;
        left: $distance;
      } @else if $position == t {
        bottom: initial;
        top: $distance;
      } @else if $position == b {
        top: initial;
        bottom: $distance;
      } @else {
        @error " Position must be r='right' l='left' t='top' b='bottom' ";
      }
    }
  }
}
